@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E3E1C6;
}

.wrapper {
	/* width: 1200px;
	background-color: #FFF;
	margin: 0 auto; */
}

.header {
	border-top: hsl(58, 34%, 82%) 20px solid;
	border-bottom: hsl(58, 34%, 82%) 20px solid;
	flex: 0 0 400px
}

.header img {
	vertical-align: bottom;
	width: 100%;
	height: auto;


}

/*  */
.nav {
	background-color:hsl(58, 34%, 82%);
	height: 100px;
	padding: 20px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav img {
	padding-right: 100px;

}

.nav ul {
	display: flex;
	/* flex: 1 500 10px */
}

.nav li {


	list-style-type: none;
}

.nav li a {

	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	/* 粗字体 */
	text-decoration: none;
	/* 文字下底線移除 */
	color: #330;
	border-radius: 10px;
	/* 邊框-圓角:水平/垂直 */
	text-shadow: #FFF 1px 1px 1px;
	/* 文字陰影 水平位移 垂直位移 柔化程度 擴張 顏色 */
	background-color: rgba(255, 255, 255, 0.3);
	margin-right: 10px;
	/* 盒外距:四邊皆10 */
	box-shadow: #333 2px 2px 2px;
	/*盒子外陰影 水平位移 垂直位移 柔化程度 擴張 顏色 */
	font-family: "Pacifico";


	

}



.nav li a:hover {
	color: #FFF;
	background-color: #330;
	text-shadow: none;
	box-shadow: none;
}


/*  */



.box {

	display: flex;
	height: 1000px;
	/* -- */
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;





}

/* .box>div {
	justify-content: space-between;
	background-position: left bottom;
	
	
	
} */

/* .box img {
	vertical-align: bottom;
	
	height: auto;

	} */


 .b1,.b2,.b3 {
	
	padding: 0 10px; 
	
}




.pacifico-regular {
	font-family: "Pacifico", cursive;
	/* font-weight: 100px; */
	font-style: normal;
}




.material-symbols-outlined {
	vertical-align: middle;
	margin-right: 20px;
}

.box p {
font-size: 30px;
font-weight: bold;
text-shadow: 5PX 3px 1px #b4b3b3;

}
.nav li a span {
	
	font-size: 35px;
	/* vertical-align: middle; */
	margin-right:10px ;
	padding-bottom:10px;

}