
*{
    padding: 0;
    margin: 0;
}

div{
    margin-top: 50px;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px 0;
}

h1{
    margin-left: 100px;
}
   
ul{
    margin-right: 80px;
    padding: 30px 0;
}

li{
    list-style: none;
    float: left;
    margin-right: 30px;
}

a{
    display: block;
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

a:hover{
    color: white;
}
