body {
    background-color: rgb(208, 227, 250);
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.box {
    background-color: #a8bff4;
    width: 1200px;
    margin: auto;
    padding: 20px;
}

a {
    display: block;
    width: 200px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    border-radius: 30px/30px;;
    border-bottom: #a884f5 thick groove;
    background-image: repeating-linear-gradient(30deg, rgba(166, 240, 198, 0.692)10%, rgb(14, 116, 41)20%);

    box-shadow: 3px 3px 5px 1px rgb(210, 210, 216);
    text-shadow: 2px 2px 1px rgb(229, 228, 190);

}

a:hover {
    color: #7b7c6f;
}

p {
    color: #676464;
    text-align: justify;
}

h1 {
    color: #ec9a28;
}

h2{
    color: #f2c674;
}