@charset "utf-8";

ul {
    padding-left: 0;
    display: flex;
    margin: auto;
}

li {
    list-style-type: none;
}

li a {
    display: block;
    width: 150px;
    height: 50px;
    background-color: #690;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 50px;
    margin-bottom: 10px;
}

li a:hover {
    background-color: #06C;
    color: #FF6;
}

.box {
    display: flex;
}