*{
    padding: 0;
    margin: 0;
}
.box1{
    background-color: white;
    color: black;
    padding-left: 20px;

}
.box2{
    box-sizing: border-box;
    display: flex;  
    background-color: white; 
    color: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.box3{
    display: flex;
    padding-left: 40px;
    height: 50px;    
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-right: 20px;
    margin-right: 20px;
}
p{
    padding-left: 20px;
}
.blackspace{
    background-color: black;
    height: 5px;
}
span{
    font-size: larger;
    font-weight: bold;
}
